

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}

/*header*/
header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 20px auto;
    border-radius: 18px;
    background-color: #F0F0F0;
}
header h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 21.5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}
/*main*/


/*section hero*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(https://static.wixstatic.com/media/11062b_3c66233310b04ad78fd066354fa926c0~mv2.jpg/v1/fill/w_2159,h_1053,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_3c66233310b04ad78fd066354fa926c0~mv2.jpg);
    background-size: cover;
    border-radius: 25px;
    padding: 4rem;
    
 
}

.box1 {
    width: 47%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 25px;
    background-color: #FFFFFF;
    border-radius: 25px;
    gap: 1rem;
    line-height: 1;
}

.box1 h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 80px;
    letter-spacing: -3px;
    font-weight: 700;
}



.box p {
    font-size: 23px;
    font-weight: lighter;
}

.box1 button {
    width: 39%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    border-radius: 10px;
    background-color: #000000;
    text-align: center;
    font-size: 17px;
    
    
   
}

.box1 button a {
    color: #ffffff;
    text-decoration: none;
    

}

.box1 button:hover {
    background-color: #ffffff;
    transition: 0.4s;
}

.box1 button:hover a {
    color: #000000;
}
/*secion about*/

.about {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    line-height: 1;
}

.about h1 {
    font-size: 25px;
    font-weight: lighter;
}

.about p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    letter-spacing: -3px;
    font-weight: 800;
}

/*section story*/

.story {
    width: 100%;
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 25px;
}

.story h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}

.story p {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 1

}

/*section mission*/

.mission {
    width: 100%;
    height: 64vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;
}

.mission .box1 {
   width: 74%;
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   background-color: #000000;
   color: #FFFFFF;
   border-radius: 25px;
}

.mission .box1 h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 37px;
    font-weight: 500;
}

.mission .box1 p {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 1;
}


.mission .box2 {
    width: 24%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 25px;
}

.mission .box2 button {
    width: 55%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: #000000;
    text-align: center;
    font-size: 17px;
    margin-top: 18rem;
    
}
.mission .box2 button a {
    text-decoration: none;
    color: #000000;
}

.mission .box2 button:hover {
    border: 1px solid #FFFFFF;
    background-color: #000000;
    transition: 0.4s;
}

.mission .box2 button:hover a {
    text-decoration: none;
    color: #FFFFFF;
}
/*section purple*/
.purple {
    display: 100%;
    height: 74vh;
    background-image: url(https://static.wixstatic.com/media/11062b_70df16f27a054ae5b0f8e773be022962~mv2.jpg/v1/fill/w_1800,h_780,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_70df16f27a054ae5b0f8e773be022962~mv2.jpg);
    background-size: cover;
    border-radius: 25px;
}

/*section clients*/
.clients {
    
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.clients .box1 {
    width: 49%;
    height: 77vh;
    background-color: #F0F0F0;
    border-radius: 25px;
}

.clients .box1 h1 {

    font-size: 21px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.clients .box1 p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 68px;
    font-weight: 800;
    letter-spacing: -2px;
}

.clients .box2 {
    width: 49%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F0F0F0;
    border-radius: 25px;
    line-height: ;
    
}



.clients .box2 h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    padding: 0 4rem;

}

.clients .box2 p {
    font-size: 22px;
    font-weight: lighter;
    padding: 4rem;
    margin-top: -2rem;
}
/*section process*/
.process {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.process h1 { 
    font-size: 25px;
    font-weight: lighter;
}

.process h2{
    font-family: "Stack Sans Text", sans-serif;
    font-size: 69.5px;
    letter-spacing: -3px;
    font-weight: 900;
}

.process p {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 1rem;
}

/*section boxes*/

.boxes {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.boxes .box1 {
    width: 26%;
    height: 38vh;
    background-image: url(https://static.wixstatic.com/media/11062b_732302205d8340ff9f2486e0dd352845~mv2.jpg/v1/fill/w_696,h_576,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Fashion%20Sale%20.jpg);
    background-size: cover;
    border-radius: 20px;
}

.boxes .box2 {
    width: 12%;
    height: 20vh;
    background-color: #F0F0F0;
    border-radius: 25px;
    margin-top: -9rem;
}

.boxes .box3 {
    width: 25%;
    height: 20vh;
    background-color: #808080;
    border-radius: 25px;
    margin-top: -9rem;
}
/*section boxes2*/
.boxes2 {
     width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.boxes2 .box1 {
    width: 26%;
    height: 38vh; 
    background-color: #F0F0F0;
    border-radius: 25px;
    margin-top: 2rem;
}

.boxes2 .box2 {
   width: 40%;
   height: 55vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #000000;
   border-radius: 25px;
   margin-top: -7rem;
  
}

.boxes2 .box2 h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 5rem;
    margin-top: -1.5rem;
}

.boxes2 .box2 p {
    font-size: 23px;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 1;
    padding: 5rem;
    margin-top: -7rem;
}
/*section services*/

.services {
    width: 100%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #000000;
    border-radius: 20px;
    margin-top: 15rem;
}



.services h1 {
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 4rem;
}
.services p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -7rem;
    line-height: 1;
    padding: 4rem;
}


/*section cards*/

.cards {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}   

.card1 {
     width: 22%;
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background-color: #F0F0F0;
    border-radius: 22px;
    font-size: 20px;
    
}

.smallcard {
    margin-top: 4rem;
}

.smallcard h1 {
   font-size: 17px;
   font-weight: 100;
}

.smallcard p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 37px;
    font-weight: 600;
    letter-spacing: -2px;
}







.card2 {
     width: 22%;
    height: 53vh;
    background-color: #F0F0F0;
    border-radius: 22px;
}

.card3 {
     width: 22%;
    height: 53vh;
    background-color: #F0F0F0;
    border-radius: 22px;
}


.card4 {
     width: 22%;
    height: 53vh;
    background-color: #F0F0F0;
    border-radius: 22px;
}
/*section contact*/
.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .box1 {
   width: 48%;
   height: 130vh;
   background-image: url(https://static.wixstatic.com/media/11062b_b6c2e479316e480696a4cb23b98059f8~mv2.jpg/v1/fill/w_879,h_1323,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_b6c2e479316e480696a4cb23b98059f8~mv2.jpg);
   background-size: cover;
   border-radius: 20px;
   margin-top: -1rem;
}

.contact .box2 .get {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10rem;
    margin-top: 8rem;
    line-height: 1.2;
    text-align: center;
    
}

.contact .box2 .get h1 {
    font-size: 25px;
    font-weight: lighter;
}

.contact .box2 .get p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 68px;
    font-weight: 800;
    letter-spacing: -2px;
}


.contact .box2 .below p {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 2rem;
    text-align: center;
    padding-right: 10rem;
    
}

/*contact form*/



.contact-form {
   margin-top: 7rem;
    font-size: 80px;
    max-width: 400px;
}

.field {
  position: relative;
  margin-bottom: 30px;
}

.field input,
.field textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bbb;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  background: transparent;
}

.field textarea {
  resize: none;
  height: 80px;
}

.field label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 14px;
  color: #777;
  pointer-events: none;
  transition: 0.3s;
}

/* floating effect */
.field input:focus + label,
.field input:valid + label,
.field textarea:focus + label,
.field textarea:valid + label {
  top: -10px;
  font-size: 12px;
  color: #000;
}

.field input:focus,
.field textarea:focus {
  border-bottom: 2px solid #000;
}

.contact-form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  width: 55%;
  height: 6vh;
  background: #111;
  color: #fff;
  border: 1px solid #111;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 10px;
}



button:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #000;
}
button:hover a {
    text-decoration: none;
    color: #000;
}

/*footer*/


footer {
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    margin-top: 2rem;

    
}

footer h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 600;
    padding: 4rem;
}
    
.footer-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.footer-container a {
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
  
}

.footer-info  {
     display: flex;
     flex-direction: column;
     padding: 4rem;
     margin-top: -9rem;
     font-size: 22px;
    }


.footer-info a {
    text-decoration: none;
    color: #fff;
    
}

