*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}


header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 25px;
}


header ul  {
    list-style: none;
    font-size: 30px;
}

header ul li a {
    text-decoration: none;
}


/*main*/


.hero {
    width: 100%;
    height: 80vh;
    font-family: "Stack Sans Text", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    text-align: center;
}