* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}

/*header*/
header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 20px auto;
    border-radius: 18px;
    background-color: #F0F0F0;
}
header h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 21.5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}

/*main*/

/*section logo*/

.logo {
    width: 100%;
    height: 60vh;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
}

.logo h1 {
    font-size: 23px;
    padding: 5rem;
}

.logo p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
    padding: 0 5rem;
    margin-top: -5rem;
}

/*section hero*/
.hero {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: flex-end;
    padding: 4rem;
    background-image: url(https://static.wixstatic.com/media/11062b_2d936d5d72f048c6860b7ad5336058ca~mv2.jpg/v1/fill/w_1636,h_963,al_c,q_85,enc_avif,quality_auto/11062b_2d936d5d72f048c6860b7ad5336058ca~mv2.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-top: 2rem;
    
}

.box1 {
    width: 48%;
    height: 105vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    font-size: 23px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
}

.title h1 {
    font-size: 25px;
    padding:0 1rem;
    font-weight: lighter;
}

.title p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    letter-spacing: -3px;
    font-weight: 700;
    line-height: 1;
    padding:0 1rem;
    margin-top: 1rem;
}



/*section about*/

.container2 {
    width: 100%;
    height: 130vh;
    display: flex;
    margin-top: 2rem;
}

.about .box1 {
    width: 73%;
    height: 125vh;
    background-image: url(https://static.wixstatic.com/media/11062b_a744ca8887b842118b28c726177702b2~mv2.jpg/v1/fill/w_1317,h_1265,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_a744ca8887b842118b28c726177702b2~mv2.jpg);
    background-size: cover;
    border-radius: 20px;
}

.about .box2 {
    width: 25%;
    height: 125vh;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
}

.about .box2 .grey {
  width: 95%;
  height: 48.5%;
  background-color: #404040;
  border-radius: 25px;
  display: flex;
  align-items: flex-end;
}

.about .box2 .black {
  width: 95%;
  height: 48.5%;
  background-color: #000000;
  border-radius: 25px;
  display: flex;
  align-items: flex-end;

}

/*section photos*/

.photos {
    width: 100%;
    height: 130vh;
    display: flex;
    gap: 2rem;
    margin-top: -0.7rem;
}

.photos .one {
  width: 48.5%;
  height: 125vh;
  background-image: url(https://static.wixstatic.com/media/11062b_0472df79ade34a5d8116526e9fa4925bf000.jpg/v1/fill/w_639,h_915,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/11062b_0472df79ade34a5d8116526e9fa4925bf000.jpg);
  background-size: cover;
  border-radius: 20px;
}

.photos .two {
  width: 48.5%;
  height: 125vh;
  background-image: url(https://static.wixstatic.com/media/11062b_a4a9c7ef1a8c4d59a4ebee5c83234601~mv2.jpg/v1/fill/w_879,h_1258,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_a4a9c7ef1a8c4d59a4ebee5c83234601~mv2.jpg);
  background-size: cover;
  border-radius: 20px;
}
/*section mission*/
.mission {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: flex-start;
    padding: 4rem;
    margin-top: -0.7rem;
    background-image: url(https://static.wixstatic.com/media/11062b_d9b091eab2704cd78ebd875a4ea498f0~mv2.jpg/v1/fill/w_2159,h_1132,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_d9b091eab2704cd78ebd875a4ea498f0~mv2.jpg);
    background-size: cover;
    border-radius: 20px;
} 

.box {
    width: 45%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    font-size: 23px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
}

.succes h1 {
    font-size: 25px;
    padding:0 1rem;
    margin-top: 2rem;
    font-weight: lighter;
}

.succes p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    letter-spacing: -3px;
    font-weight: 700;
    line-height: 1;
    padding:0 1rem;
    margin-top: 0.5rem;
}

/*footer*/


footer {
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    margin-top: 2rem;

    
}

footer h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 600;
    padding: 4rem;
}
    
.footer-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.footer-container a {
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
  
}

.footer-info  {
     display: flex;
     flex-direction: column;
     padding: 4rem;
     margin-top: -9rem;
     font-size: 22px;
    }


.footer-info a {
    text-decoration: none;
    color: #fff;
    
}