* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}

/*header*/
header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 20px auto;
    border-radius: 18px;
    background-color: #F0F0F0;
}
header h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 21.5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}

/*main*/

/*section hero*/

.hero {
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

.box1 {
    width: 48.8%;
    height: 100vh;
    background-image: url(https://static.wixstatic.com/media/11062b_6c92a1171eb4450d9a6de3318019fb37f000.jpg);
    background-size: cover;
    border-radius: 22px;
    color: white;
    padding: 4rem;
}

.box1 h1 {
    font-size: 22px;
    font-weight: lighter;
}

.box1 p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;

}

.box2 {
    width: 48.8%;
    height: 100vh;
    background-color: #F0F0F0;
    border-radius: 22px;
    padding-left: 5rem;
    
}
/*contact form*/



.contact-form {
   margin-top: 7rem;
    font-size: 80px;
    max-width: 400px;
}

.field {
  position: relative;
  margin-bottom: 30px;
}

.field input,
.field textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bbb;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  background: transparent;
}

.field textarea {
  resize: none;
  height: 80px;
}

.field label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 14px;
  color: #777;
  pointer-events: none;
  transition: 0.3s;
}

/* floating effect */
.field input:focus + label,
.field input:valid + label,
.field textarea:focus + label,
.field textarea:valid + label {
  top: -10px;
  font-size: 12px;
  color: #000;
}

.field input:focus,
.field textarea:focus {
  border-bottom: 2px solid #000;
}

.contact-form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  width: 55%;
  height: 6vh;
  background: #111;
  color: #fff;
  border: 1px solid #111;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 10px;
}



button:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #000;
}
button:hover a {
    text-decoration: none;
    color: #000;
}
/*footer*/


footer {
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
   

    
}

footer h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 600;
    padding: 4rem;
}
    
.footer-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.footer-container a {
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
  
}

.footer-info  {
     display: flex;
     flex-direction: column;
     padding: 4rem;
     margin-top: -9rem;
     font-size: 22px;
    }


.footer-info a {
    text-decoration: none;
    color: #fff;
    
}