* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}

/*header*/
header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 20px auto;
    border-radius: 18px;
    background-color: #F0F0F0;
}
header h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 21.5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}
/*main*/

/*section hero*/

.hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.box1 {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    gap: 1rem;
}

.box1 h1 {
    font-size: 25px;
    font-weight: lighter;
}

.box1 p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    font-weight: 750;
    letter-spacing: -3px;
    line-height: 1;

}

.box2 {
    font-size: 22px;
    margin-top: -8.5rem;
}

/*section cards */

.cards {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card1 {
    width: 68%;
    height: 27vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 20px;
    margin-top: 4rem;
    padding: 2rem;

}

.card1 h1 {
    font-family: "Stack Sans Text", sans-serif;
    margin-top: -4rem;
}

.card1 p {
    font-size: 20px;
}

.minibox {
    width: 15%;
    height: 17vh;
    background-color: #ffffff;
    border-radius: 25px;
    
}

.card2 {
    width: 68%;
    height: 27vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 25px;
    margin-top: 4rem;
    padding: 2rem;
}

.minibox2 {
    width: 15%;
    height: 17vh;
    background-color: #ffffff;
    border-radius: 25px;
}

.card2 h1 {
    font-family: "Stack Sans Text", sans-serif;
    margin-top: -4rem;
}

.card2 p {
    font-size: 20px;
}

.card3 {
    width: 68%;
    height: 27vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 25px;
    margin-top: 4rem;
    padding: 2rem;
}

.minibox3 {
    width: 15%;
    height: 17vh;
    background-color: #ffffff;
    border-radius: 25px;
}

.card3 h1 {
    font-family: "Stack Sans Text", sans-serif;
    margin-top: -4rem;
}

.card3 p {
    font-size: 20px;
}

.card4 {
    width: 68%;
    height: 27vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 25px;
    margin-top: 4rem;
    padding: 2rem;
}

.minibox4 {
    width: 15%;
    height: 17vh;
    background-color: #ffffff;
    border-radius: 25px;
}

.card4 h1 {
    font-family: "Stack Sans Text", sans-serif;
    margin-top: -4rem;
}

.card4 p {
    font-size: 20px;
}

/*footer*/
footer {
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    margin-top: 10rem;

    
}

footer h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 600;
    padding: 4rem;
}
    
.footer-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.footer-container a {
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
  
}

.footer-info  {
     display: flex;
     flex-direction: column;
     padding: 4rem;
     margin-top: -9rem;
     font-size: 22px;
    }


.footer-info a {
    text-decoration: none;
    color: #fff;
    
}