
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}

/*header*/
header {
  width: 100%;
  height: 86px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 20px auto;
  border-radius: 18px;
  background-color: #F0F0F0;
}

header h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}


nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 21.5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}

/* burger default hidden */
.burger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* mobile styles */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #9c9c9c;
    border-radius: 25px;
    width: 200px;
    display: none;
  }

  nav ul {
    flex-direction: column;
    padding: 20px;
  }

  nav ul li {
    margin: 15px 0;
  }

  nav.active {
    display: block;
  }

  .burger {
    display: block;
  }
}

/*main*/

.hero {
    width: 100%;
    height: 42vh;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    margin-top: 2rem;
    padding: 4rem;
    font-size: 23px;
}

/*logo*/

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 9rem;

}

.logo h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 80px;
    letter-spacing: -5px;
    line-height: 1.1;
    font-weight: 700;
    margin-top: -5rem ;
    padding-left: 2rem;
 
}

.logo p {
    font-size: 21px;
    padding-left: 2rem;
}

/*web*/

.web {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 9rem;
    margin-top: -3rem;
}

.web h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    letter-spacing: -5px;
    line-height: 1.1;
    font-weight: 700;
    margin-top: -5rem ;
    padding-left: 2rem;
 
}

.web p {
    font-size: 21px;
    padding-left: 2rem;
}

/*site*/

.site {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    margin-top:9rem;
}

.site h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    letter-spacing: -5px;
    line-height: 1.1;
    font-weight: 700;
    margin-top: -5rem ;
    padding-left: 2rem;
 
}

.site p {
    font-size: 21px;
    padding-left: 2rem;
}

.site ul {
    font-size: 22px;
    padding-left: 4rem;
    margin-top: 3rem;
}

/*partial*/

.partial {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    margin-top:9rem;
}

.partial h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -5px;
    font-weight: 700;
    margin-top: -5rem ;
    padding-left: 2rem;
 
}

.partial p {
    font-size: 21px;
    padding-left: 2rem;
    margin-top: 2rem;
}

/*only*/
.only {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    margin-top:9rem;
}

.only h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -5px;
    font-weight: 700;
    margin-top: -5rem ;
    padding-left: 2rem;
 
}

.only p {
    font-size: 21px;
    padding-left: 2rem;
    margin-top: 2rem;
}



/*request*/

.request {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    margin-top:9rem;
}

.request h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 70px;
    letter-spacing: -5px;
    font-weight: 750;
    margin-top: -5rem ;
    padding-left: 2rem;
 
}

.request p {
    font-size: 21px;
    padding-left: 2rem;
    margin-top: 2rem;
}

.request ul {
    font-size: 22px;
    padding-left: 4rem;
    margin-top: 0.2rem;
}

/*footer*/
footer {
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    margin-top: 10rem;

    
}

footer h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 600;
    padding: 4rem;
}
    
.footer-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.footer-container a {
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
  
}

.footer-info  {
     display: flex;
     flex-direction: column;
     padding: 4rem;
     margin-top: -9rem;
     font-size: 22px;
    }


.footer-info a {
    text-decoration: none;
    color: #fff;
    
}
.footer-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 30px;
    margin-top: -14rem;
    padding-right: 14rem;
    

}

.footer-right a {
    text-decoration: none;
    color: #fff;
}

.footer-right2 {
    font-family: "Stack Sans Text", sans-serif;
    text-align: right;
    color: #ffffff;
    padding-right: 5.5rem;
    margin-top: 4rem;
    font-size: 16px;
}