
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;  
}

/*header*/
header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 20px auto;
    border-radius: 18px;
    background-color: #F0F0F0;
}
header h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 21.5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}
/*main*/

/*section hero */

.hero {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 4rem;
    gap: 0.5rem;
    
    
}


.hero h1 {
    font-size: 22px;
    font-weight: lighter;
    
}

.hero p {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 75px;
    font-weight: 780;
    letter-spacing: -3px;
    line-height: 1;
}

/*section logo*/

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.box1 {
    width: 42%;
    height: 45vh;
    background-image: url(https://static.wixstatic.com/media/11062b_d9b091eab2704cd78ebd875a4ea498f0~mv2.jpg/v1/fill/w_2159,h_1132,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_d9b091eab2704cd78ebd875a4ea498f0~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}

.box2{
    width: 18%;
    height: 40vh;
    background-image: url(https://static.wixstatic.com/media/11062b_2d936d5d72f048c6860b7ad5336058ca~mv2.jpg/v1/fit/w_2632,h_436,q_90,enc_avif,quality_auto/11062b_2d936d5d72f048c6860b7ad5336058ca~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}

.box3 {
    width: 35%;
    height: 40vh;
    background-image: url(https://static.wixstatic.com/media/bca594c0f1b94d7e8cae75e9fe081370.jpg/v1/fit/w_2632,h_436,q_90,enc_avif,quality_auto/bca594c0f1b94d7e8cae75e9fe081370.jpg);
    background-size: cover;
    border-radius: 22px;
}
/*section about*/

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

.one {
    width: 42%;
    height: 95vh;
    background-image: url(https://static.wixstatic.com/media/11062b_cc20d43a1212484dbf43ac80fdc7880d~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}

.two {
    width: 55.5%;
    height: 100vh;
    background-image: url(https://static.wixstatic.com/media/11062b_c0738ab8885d4e579b8ccd8488b5e1fb~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
    margin-top: -2.5rem;
}
/*section heros*/

.heros {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.first {
    width: 54%;
    height: 65vh;
    background-image: url(https://static.wixstatic.com/media/11062b_50719817998647b08d2aa2366924125d~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}

.second {
    width: 43.7%;
    height: 55vh;
    background-image: url(https://static.wixstatic.com/media/11062b_7ccf5f1a048942e2b9320bff483d2434~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}

/*section work*/

.work {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.coke {
    width: 54%;
    height: 65vh;
    background-image: url(https://static.wixstatic.com/media/11062b_e6fd07272d2c4a8787162bb1ce90efb6~mv2.jpg); 
    background-size: cover;
    border-radius: 22px;
}

.fanta {
    width: 43.7%;
    height: 75vh;
    background-image: url(https://static.wixstatic.com/media/11062b_b49580a3525b4845aad3f84ed1029062~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
    margin-top: -5.5rem;
}

/*section photos*/

.photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem; 
}

.white {
    width: 23%;
    height: 57vh;
    background-image: url(https://static.wixstatic.com/media/11062b_096f63ed0de44207be7462d3e47cf263~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}

.black {
    width: 23%;
    height: 57vh;
    background-image: url(https://static.wixstatic.com/media/11062b_fc6b971cf8b54a068a18a3ba856b635a~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
}
/*section last*/

.last {
    width: 48%;
    height: 57vh;
    background-image: url(https://static.wixstatic.com/media/11062b_df27641dba514fd8bb8e587b5f414fc0~mv2.jpg);
    background-size: cover;
    border-radius: 22px;
    margin-top: 2rem;
}

/*footer*/
footer {
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    margin-top: 3.4rem;

    
}

footer h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 600;
    padding: 4rem;
}
    
.footer-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 20px;
}

.footer-container a {
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
    transition: 0.3s;
    
  
}

.footer-info  {
     display: flex;
     flex-direction: column;
     padding: 4rem;
     margin-top: -9rem;
     font-size: 22px;
    }


.footer-info a {
    text-decoration: none;
    color: #fff;
    
}